.avatarFrame{
    border-radius: 27.4053px;
    max-width: 54.81px;
    min-width: 54.81px;
    max-height: 54.83px;
    min-height: 54.83px;
}

.pagetFrame{
    background-color: #01162D;
    margin: auto;
    width: 100%;

}

.componentFrame{
    background-color: #01162D;
    margin: auto;
    width: 100%;
    align-items: center;
}